/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Basic styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003366; /* Dark teal blue */
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.coming-soon-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 0; /* Remove rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.coming-soon-content {
    max-width: 600px;
    margin: auto;
}

.coming-soon-content h1 {
    font-family: 'Roboto', sans-serif; /* Use the same font as the rest of the page */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.coming-soon-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.coming-soon-content ul {
    list-style-type: disc;
    padding-left: 40px;
    text-align: left; /* Aligns the bullet points to the left */
    margin-bottom: 20px;
}

.coming-soon-content ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #fff; /* Change the color of the bullet points */
}

.coming-soon-content a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.coming-soon-content a:hover {
    color: #21a1f1;
}
